{
    "extension": [
        ".ts"
    ],
    "include": [
        "src/**"
    ],
    "exclude": [
        "test/**"
    ],
    "require": [
        "ts-node/register"
    ],
    "reporter": [
        "html"
    ],
    "all": true,
    "sourceMap": true
}